{% load staticfiles %}
<html>
<head>
    <title></title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <img src="{% static 'images/delete.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-offset col-md-4">
                <form method="post">
                    {% csrf_token %}
                    {{ delete.as_p }}
                    <input type="submit" value="delete" class="btn btn-danger">
                    <input type="reset" value="reset" class="btn btn-default">

                </form>
            </div>
        </div>
    </div>
</body>




</html>