{% load staticfiles %}
<html>
<head>
    <title>
        RETRIVE
    </title>
</head>
<body>
<img src="{% static 'images/retrive.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                {% if retrive %}
                    <table>
                        <thead>
                            <th>pid</th>
                            <th>pname</th>
                            <th>pcost</th>
                            <th>pcolor</th>
                            <th>pclass</th>
                            <th>cname</th>
                            <th>cmobile</th>
                            <th>cemail</th>
                        </thead>
                    {% for i in retrive %}
                        <tbody>
                            <td>{{ i.pid }}</td>
                            <td>{{ i.pname }}</td>
                            <td>{{ i.pcost }}</td>
                            <td>{{ i.pcolor }}</td>
                            <td>{{ i.pclass }}</td>
                            <td>{{ i.cname }}</td>
                            <td>{{ i.cmobile }}</td>
                            <td>{{ i.cemail }}</td>
                        </tbody>
                    {% endfor %}
                    {% else %}
                        <h1>NO DATA TO DISPLAY</h1>

                    </table>
                {% endif %}
                 <a href="/update/">Update</a>
                 <a href="/home/">Home</a>
                 <a href="/delete/">Delete</a>
                 <a href="/insert/">Insert</a>
            </div>
        </div>
    </div>
</body>
</html>